:root {
  color-scheme: dark;
  

  --text: hsla(300 0% 95%);

  --gold-1: hsla(37.14, 60%, 93.14%);
  --gold-2: hsla(38.67, 60%, 85.29%);
  --gold-3: hsla(40, 57.35%, 73.33%);
  --gold-4: hsla(39.72, 41.04%, 66.08%);
  --gold-5: hsla(39.37, 30.48%, 58.82%);
  --gold-6: hsla(40, 21.6%, 49.02%);
  --gold-7: hsla(39.55, 22.45%, 38.43%);
  --gold-8: hsla(39.38, 22.86%, 27.45%);
  --gold-9: hsla(40.91, 26.19%, 16.47%);
  --gold-10: hsla(38.18, 37.93%, 5.69%);

  --white-1: hsla(0, 0%, 100%);
  --white-2: hsla(0, 0%, 96.86%);
  --white-3: hsla(0, 0%, 87.84%);
  --white-4: hsla(0, 0%, 77.25%);
  --white-5: hsla(0, 0%, 65.49%);
  --white-6: hsla(0, 0%, 53.73%);
  --white-7: hsla(0, 0%, 41.57%);
  --white-8: hsla(0, 0%, 29.41%);
  --white-9: hsla(0, 0%, 18.04%);
  --white-10: hsla(0, 0%, 6.67%);

  /* SEMANTIC */
  --bg: var(--white-9);
}
