@import "./_tailwind.css";
@import "./_colors.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Tektur", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.__DEBUG__ {
  border: 3px dotted violet;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  color: var(--white-3);
}
